{% extends "layout.html" %}
{% block content %}
    <header>
        <a href="" class="logo"><img src="{{ url_for('static',filename = 'css/img/io.png' ) }}" alt=""></a>
        <div id="toggle" onclick="toggle()"></div>
    </header>
    <div class="about-content">
        <h1>OUR SERVICES</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, minus veritatis fugit eum in dolorem aliquid
            praesentium dolorum veniam facere ipsum, odit, ipsam tempora impedit? Alias molestiae quasi illo laboriosam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, minus veritatis fugit eum in dolorem aliquid
            praesentium dolorum veniam facere ipsum, odit, ipsam tempora impedit? Alias molestiae quasi illo laboriosam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, minus veritatis fugit eum in dolorem aliquid
            praesentium dolorum veniam facere ipsum, odit, ipsam tempora impedit? Alias molestiae quasi illo laboriosam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, minus veritatis fugit eum in dolorem aliquid
            praesentium dolorum veniam facere ipsum, odit, ipsam tempora impedit? Alias molestiae quasi illo laboriosam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, minus veritatis fugit eum in dolorem aliquid
            praesentium dolorum veniam facere ipsum, odit, ipsam tempora impedit? Alias molestiae quasi illo laboriosam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, minus veritatis fugit eum in dolorem aliquid
            praesentium dolorum veniam facere ipsum, odit, ipsam tempora impedit?.</p>
    </div>

{% endblock content %}